/* =========================
   BOTÓN BASE
   ========================= */
.btn_{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.55rem 1.5rem;
  border-radius: 50px; /* borde tech suave */

  text-decoration: none;
  cursor: pointer;

  font-size: clamp(0.7rem, 1vw, 1rem);
  text-transform: uppercase;

}
.btn_ span{transition: all 0.5s;}
/* =========================
   BOTÓN PRIMARY
   ========================= */
.btn__primary {
  position: relative;
  overflow: hidden;

  color: var(--paper);
  border: none;

  background: linear-gradient(
    to bottom,
    var(--brand),
    var(--brand)
  );
}

.btn__primary:hover span,
.btn__primary:active span {
  color: var(--paper); /* o el color del texto */
}

.btn__primary::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    var(--brand-light),
    var(--brand-light)
  );

  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn__primary:hover::after,
.btn__primary:active::after {
  opacity: 1;
}

.btn__primary > * {
  position: relative;
  z-index: 1;
}
/* =========================
   BOTÓN GHOST
   ========================= */
.btn__ghost {
  position: relative;
  overflow: hidden;

  color: var(--paper);
  border: 1px solid var(--paper);

  background: linear-gradient(
    to bottom,
    transparent,
    transparent
  );
}

.btn__ghost::after {
  content: "";
  position: absolute;
  inset: 0;

  border: 1px solid var(--brand-dark);

  background: linear-gradient(
    to bottom,
    rgb(81, 72, 153, 0.5),
    var(--brand-dark)
  );

  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn__ghost:hover::after,
.btn__ghost:active::after {
  opacity: 1;
}

.btn__ghost > * {
  position: relative;
  z-index: 1;
}
/* =========================
   BOTÓN WHITE
   ========================= */
.btn__white {
  position: relative;
  overflow: hidden;

  color: var(--brand-dark);
  border: none;

  background: linear-gradient(
    to bottom,
    var(--paper),
    var(--paper)
  );
}

.btn__white::after {
  content: "";
  position: absolute;
  inset: 0;
  color: var(--brand-dark);

  background: linear-gradient(
    to bottom,
    var(--brand-light),
    var(--brand)
  );

  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn__white:hover::after,
.btn__white:active::after {
  opacity: 1;
}

.btn__white > * {
  position: relative;
  z-index: 1;
}/* =========================
   BOTÓN WARNING
   ========================= */
.btn__warning {
  position: relative;
  overflow: hidden;

  color: var(--fuente);
  border: none;

  background: linear-gradient(
    to bottom,
    var(--golden-light),
    var(--golden-light)
  );
}

.btn__warning:hover span,
.btn__warning:active span {
  color: var(--paper); /* o el color del texto */
}

.btn__warning::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    var(--brand),
    var(--brand)
  );

  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn__warning:hover::after,
.btn__warning:active::after {
  opacity: 1;
}

.btn__warning > * {
  position: relative;
  z-index: 1;
}
/* ================================ Boton top ======================================== */ 
.btn-top{
  position: absolute;
  bottom: -1em;       /* ajusta a gusto */
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;         /* sobre bg / degrade */

  opacity: 1;
  pointer-events: auto;

  transition: opacity .3s ease;
  text-decoration: none;
  color: var(--brand-light);
}

.btn-top.hidden{
  opacity: 0;
  pointer-events: none;
}

/* ================================ Boton volver arriba ======================================== */ 
#btnVolverArriba {
  display: none; /* El botón estará oculto inicialmente */
  position: fixed; /* Se mantendrá en la misma posición incluso cuando la página se desplace */
  bottom: 20px; /* Posición desde la parte inferior */
  left: 20px; /* Posición desde la izquierda */
  font-size: 24px; /* Tamaño de fuente del botón */
  background-color: var(--brand);
  color: #ffffff; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 50%; /* Forma circular */
  width: 40px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  z-index: 999; /* Asegura que esté sobre otros elementos */
	padding: 0;
  transition: all 0.5s;
}

#btnVolverArriba:hover {
    background-color: var(--brand-light)
}
#btnVolverArriba img{
  width: 20px;
  margin-bottom: 5px;
}