/* =========================================================
  ESTILOS GENERALES  */
.call_action{background-color: var(--bg-2);}
.call_action .call_action_card{background-color: var(--paper);border-radius: 15px;display: flex;text-align: center;}
.call_action_info{display: flex;flex-direction: column; align-items: center;justify-content: center;padding-left: 2em;}
.call_action_info h2{margin: 0;font-size: 200%;color: var(--brand-dark);}
/* =========================================================
  RESPONSIVE: MÓVILES / TABLET (≤ 959px) */
@media (max-width:959px){
    .call_action_card{flex-direction: column;}
    .call_action_visor{margin-bottom: -2em;}
    .call_action_info{padding: 2em 2em 0;}
    .call_action .section_container{padding: 5em 16% 4em;}
    .call_action_info p{margin-bottom: 1.5em;}
}

/* =========================================================
  RESPONSIVE: ESCRITORIO (≥ 960px) */
@media (min-width:960px){
    .call_action_info{width: 60%;}
    .call_action_visor{width: 40%;}
    .call_action_visor{margin-bottom: -3em;}
    .call_action .section_container{padding: 5em 20% 4em;}
    .call_action_info p{margin-bottom: 2em;}
}
