/* =========================================================
  ESTILOS GENERALES - FOOTER  */
.site-footer{background-color: var(--coal);color: var(--paper);}
.site-footer a{color: var(--brand);}
.site-footer a:hover{color: var(--brand);}
.footer_nav a,
.footer_social a{text-decoration: none;}
.footer_social{padding-top: 0.7em;}
.footer_brand{width: 100%;}
.footer_brand_img{width: 8em;}
.footer_brand h4{margin: 0.5em 0;}
.footer_brand p{margin: 0 0 1em;}
.footer_block{display: flex;width: 100%;justify-content: space-between;align-items: start;}
.footer_block ul{list-style: none;padding: 0;margin: 0;}
.footer_block h5{margin-top: 0;margin-bottom: 0.5em;}
.footer_block p{margin-top: 0;margin-bottom: 0.5em;}
.footer_bot{background-color: black;padding: 0.7em 7%;font-size: 90%;}
.footer_bot p{margin: 0;}
/* =========================================================
  RESPONSIVE: MÓVILES / TABLET (≤ 959px) */
@media (max-width:959px){
  .footer_block{flex-direction: column;margin-bottom: 2em;}
  .footer_nav{margin-bottom: 2em;}
  .footer_brand{padding: 2em 7% 0;margin-bottom: 2em;width: 86%;}
  .footer_block{padding: 0 7%;width: 86%;}
  .footer_social a{margin-right: 0.7em;}
}

/* =========================================================
  RESPONSIVE: ESCRITORIO (≥ 960px) */
@media (min-width:960px){
  .footer_container{padding: 2em 15%;display: flex;justify-content: space-between;}
  .footer_bot{text-align: center;}
  .footer_nav ul{display: flex;gap: 1em;}
  .footer_contact{text-align: end;}
  .footer_contact h5{margin-bottom: 0.5em;}
  .footer_social a{margin-left: 0.7em;}
}
