/* =========================================================
  ESTILOS GENERALES - NAV  */
.site_nav{position: absolute;top: 0;width: 100%;}
.nav_container{display: flex;justify-content: space-between;align-items: center;}
.nav_brand img{width: 8em;}
#nav_principal{display: flex;list-style: none;padding: 0;margin: 0;}
#nav_principal li{margin-right: 1em;}
#nav_principal a{text-decoration: none;}
#menu_principal{width: 100%;}
#nav_principal a{color: var(--paper);font-weight: bolder;transition: all 0.25s;}
#nav_principal a:hover{color: var(--brand);}
#nav_principal span{box-shadow: var(--shadow);}
/* =========================================================
  RESPONSIVE: MÓVILES / TABLET (≤ 959px) */
@media (max-width:959px){
  #nav_principal{margin-top: 1em;}
  .nav_container{padding: 1em 5%;flex-wrap: wrap;}
}

/* =========================================================
  RESPONSIVE: ESCRITORIO (≥ 960px) */
@media (min-width:960px){
  #nav_principal{justify-content: end;}
  .nav_container{padding: 1em 5%;}
}
