/* =========================================================
  ESTILOS GENERALES  */
.tecnologias{background-color: var(--coal);}
.tecnologias .section_header h2{color: var(--paper);}
.tecnologias_lista{list-style: none;display: flex;flex-wrap: wrap;gap: 1em;justify-content: center;padding: 0;margin: 0;}
.tecnologias_lista img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* rellena todo sin deformar */
    border-radius: 2px;
}
.tecnologias_lista li{position: relative; width: 10em;}
.tecnologias_lista .tecnologias_lista_title{position: absolute;bottom: 0;z-index: 2;padding: 0.5em 5%;width: 90%;}
.tecnologias_lista_title h3{background-color: rgb(255, 255, 255, 70%);margin: 0;padding: 0.2em;border-radius: 2px;}
/* =========================================================
  RESPONSIVE: MÓVILES / TABLET (≤ 959px) */
@media (max-width:959px){
}

/* =========================================================
  RESPONSIVE: ESCRITORIO (≥ 960px) */
@media (min-width:960px){
.tecnologias_lista .card_1{margin-left: 20%;}
.tecnologias_lista .card_3{margin-right: 20%;;}
}
